
  <a href="/blogs/blogs" title="Naadz Blogs" class="featured-box single">
    <div class="featured-box--inner">
      <div class="featured-box--image">
        	<img src="//cdn.shopify.com/s/files/1/0759/5475/files/blogs-buzz.jpg?5983911540546337095" alt="naadz blogs" />
      </div>
    </div>
    <span class="featured-box--title">BLOGS BUZZ!</span>
  </a>